---
title: Home
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
    <body style="margin: 0;">
    {% include header.html %}

    <main>
      <section class="card-body course-heading">
        <h1 class="heading">
            <img class="logo" src="images/favicons/uiuc.png"/>IA Lab
        </h1>
        <h1 class="heading">
           Welcome
        </h1>
      </section>
      
      <section class="card-body">
          <h2>Heading</h2>
      
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Maecenas sed enim ut sem viverra. Sed cras ornare arcu dui vivamus. Elementum integer enim neque volutpat ac tincidunt vitae. Sit amet volutpat consequat mauris nunc congue nisi. Arcu odio ut sem nulla. Ut etiam sit amet nisl purus. Ac tincidunt vitae semper quis lectus nulla. Fermentum leo vel orci porta non pulvinar neque laoreet suspendisse. Vel pharetra vel turpis nunc. Ultrices mi tempus imperdiet nulla. Diam maecenas sed enim ut sem. Pharetra massa massa ultricies mi. Faucibus turpis in eu mi bibendum neque egestas congue. Sit amet facilisis magna etiam tempor orci eu lobortis elementum. Sodales neque sodales ut etiam sit amet nisl purus in. Ut tristique et egestas quis ipsum.</p>


            <p>Ullamcorper dignissim cras tincidunt lobortis feugiat. Amet venenatis urna cursus eget nunc scelerisque viverra mauris. Vitae et leo duis ut diam quam nulla porttitor massa. Auctor augue mauris augue neque gravida in. Ut tellus elementum sagittis vitae et. Massa id neque aliquam vestibulum. Nec feugiat nisl pretium fusce. Faucibus vitae aliquet nec ullamcorper sit amet risus. Ultrices gravida dictum fusce ut placerat orci. Volutpat ac tincidunt vitae semper quis lectus nulla at volutpat. Phasellus faucibus scelerisque eleifend donec. Adipiscing commodo elit at imperdiet dui.</p>


      </section>
      </section>
        <section class="card-body course-information">
            <section class="flexbox row">
                <section class="flexbox-item col-sm-6 col-xs-12">
                    <h2> 
                        Heading 1
                    </h2>
                    <p>Mauris sit amet massa vitae tortor. Arcu felis bibendum ut tristique et egestas quis. Cursus euismod quis viverra nibh cras pulvinar mattis nunc sed. Auctor eu augue ut lectus arcu bibendum at varius. Diam vulputate ut pharetra sit. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus.</p>
                    
                </section>
               
               <section class="flexbox-item col-sm-6 col-xs-12">
                   <h2> 
                       Heading 1
                   </h2>
                   <p>Mauris sit amet massa vitae tortor. Arcu felis bibendum ut tristique et egestas quis. Cursus euismod quis viverra nibh cras pulvinar mattis nunc sed. Auctor eu augue ut lectus arcu bibendum at varius. Diam vulputate ut pharetra sit. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus.</p>
                   
               </section>
               
               <section class="flexbox-item col-sm-6 col-xs-12">
                   <h2> 
                       Heading 1
                   </h2>
                   <p>Mauris sit amet massa vitae tortor. Arcu felis bibendum ut tristique et egestas quis. Cursus euismod quis viverra nibh cras pulvinar mattis nunc sed. Auctor eu augue ut lectus arcu bibendum at varius. Diam vulputate ut pharetra sit. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus.</p>
                   
               </section>
             
        </section>
      </section>
    </main>
    {% include footer.html %}
  </body>
</html>
